body{
    padding: 0;
    margin: 0;
    border: 0;
    background-color: beige;
}


.edu1{
   font-size: 50px; 
   background-clip: text;color: rgb(130, 131, 111);
   font-weight: bolder;
   margin-left: 20%;
}

#peoplle{
    width: 350px;
    font-size: 49px;
     margin-left: 30%;
}
.make{
    display: flex;
}
.education12{
    font-size: 29px;
    background-clip: text;color: black;
   
}

.edu2{
    background-color: beige;
    width: 480px;
    padding: 20px;
    font-size: 35px;
    background-clip: rgb(17, 17, 17);
    margin-left: 10%;
     background-clip: text;color: rgb(20, 2, 17);

}

.edu40{
font-size: 28px;
background-clip: text;color: rgb(33, 33, 34);
font-weight: bolder;
}

.adu4 ul li{
    font-size: 40px;
    background-color: blueviolet;
}


.edu50{
font-size: 38px;
font-weight: bolder;
}

.edu ul li{
    font-size: 30px;

}

.edu70{ 
    font-size: 50px;
    font-weight: bolder;
    background-clip: text;color: blueviolet;
}
.edu66{
    font-size: 40px;
    font-weight: bolder;
    background-clip: text;color: blueviolet; 
}

.watu{
    font-weight: bold;
    font-size: 38px;

}

.edu7 ol li{
font-size: 38px;
}

.edu9 ul li{
font-size: 38px;
}

.wwatu{
    font-size: 50px;
}

.edu9 ul li{
    font-size: 38px;
}

.edu10 ul li{
   font-size: 38px; 
}

.wwwatu{
    font-size: 50px;
    background-clip: text;color: blue;
}

.edu11 ul li{
    font-size: 38px;  
}

.edu111{
    font-size: 52px;
    font-weight: bolder;
    background-clip: text;color: aqua;
}

.ppp{
    font-size: 48px;

}

.ppp p{
    font-size: 38px;
}